/*Global*/
html{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    overflow: none;
}
/*Do not put a container tag on the header because the flex will not work well with the navigation*/
header{
    border-bottom: 5px solid rgba(129, 178, 154, 1);
    background-color: rgba(61, 64, 91, 1); 
    /*The code below fixed all nav issues you had*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#logo{
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
    color: rgba(224, 122, 95, 1);
    text-transform: uppercase;
    margin-left: 50px;
    
}

.navigation li, a{
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: rgba(244, 241, 222, 1);
}

.currentPage{
    font-weight: bold;
    color: rgba(224, 122, 95, 1);
}

.navigation ul{
    /*list style none removes the dots from lists*/
    list-style: none;
}

.navigation li{
    display: inline-block;
    padding-right: 25px;
    text-transform: uppercase;
}

.navigation li a{
    transition: all 0.3s ease 0s;
}

.navigation li a:hover{
    font-weight: bold;
    color: rgba(224, 122, 95, 1);
}

button{
    margin-right: 50px;
    padding: 9px 25px;
    text-transform: uppercase;
    background-color:rgba(224, 122, 95, 1);
    color: rgba(244, 241, 222, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    size: 1.2em;
    font-weight: bold;
}
/*Footer*/

footer{
    min-height: 50px;
    border-top: 5px solid rgba(129, 178, 154, 1);
    background-color: rgba(61, 64, 91, 1);
    color: rgba(244, 241, 222, 1);
    display: flex;
    justify-content: center;
}

/*Newsletter*/

#newsletter{
    min-height: 80px;
    background-color: rgba(61, 64, 91, 1);
    border-top: 5px solid rgba(129, 178, 154, 1);
    border-bottom: 5px solid rgba(129, 178, 154, 1);
}

#newsletter form{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
}

#newsletter *{
    align-self: flex-start;  
}

#newsletter form label{
    justify-content: center;
    margin-top: 0.75em;
    font-size: 19px;
    color: rgba(244, 241, 222, 1);
    text-transform: uppercase;
    margin-right: auto;
}

.newsletterInput{
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;
    /*Fix for iOS devices for date input heights*/
    min-height: calc(0.9em + (0.3em * 2) + 0.6em);
    padding: 0.3em;
    margin-top: 0.5em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}/*
#newsletter form input{
    border: none;
    border-radius: 5px;
    width: 400px;
    justify-content: center;
}*/

/*Is it possible to change the font of the placeholder text in an input box*/
    /*Answer: YES 
    .inputclass::placeholder{
        font-family: xoxo;
    }*/

.subscribeButton{
    margin-left: auto;
    margin-top: 12px;
}

/*Showcase*/

#showcase{
    margin-top: 0;
    height: 500px;
    background-image: url('../img/showcase.jpg');
    background-position: center;
    background-size: cover;
}

/* Quotation Page*/

.formHeading{
    text-transform: uppercase;
    padding: 10px 0;
}

.quotationLabel{
    font-weight: bold;
    padding: 10px 0;
}

.quotationInput{
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;
    /*Fix for iOS devices for date input heights*/
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

.quotationInput:focus{
    background: #ffffff;
}

.quotationInput::placeholder{
    color: #dddddd;
    font-family: 'Varela Round', sans-serif;
}
/*Company Details section*/
.quotationForm *{
    box-sizing: border-box;
    line-height: 1.5;
}

.companyDetails{
    display: flex;
    flex-direction: column;
}

.companyDetails *{
    align-self: flex-start;
}

/*Contact Details*/
.contactDetails{
    display: flex;
    flex-direction: column;
}

.contactDetails *{
    align-self: flex-start;
}

/*tripDetails*/
.tripDetails{
    display: flex;
    flex-direction: column;
}

.tripDetails *{
    align-self: flex-start;
}

.addressInput{
    margin: 10px 0;
}

#busDetails{
    display: flex;
    flex-direction: column;
}

#busDetails *{
    align-self: flex-start;
}
.quotationSelect{
    -webkit-appearance: none;
    width: 100%;
    max-width: 425px;
    /*Fix for iOS devices for date input heights*/
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

/*Contact Us*/

.contactForm{
    box-sizing: border-box;
    line-height: 1.5;
}

.contactUsDetails{
    display: flex;
    flex-direction: column;
}

.contactLabel{
    font-weight: bold;
    margin: 10px 0;
}

.contactInput{
    -webkit-appearance: none;
    width: 100%;
    max-width: 400px;
    /*Fix for iOS devices for date input heights*/
    min-height: calc(0.9em + (0.4em * 2) + 0.6em);
    padding: 0.4em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

.contactTextarea{
    -webkit-appearance: none;
    outline: none; 
    width: 75%;
    min-height: 300px;
    resize: none;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
}

.formButton{
    margin: 15px 0;
    padding: 0.9em 1em;
    text-transform: uppercase;
    background-color:rgba(224, 122, 95, 1);
    color: rgba(244, 241, 222, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}